@import '../../../assets/stylesheets/common.scss';

.gimliIcon {
    &.pointer {
        cursor: pointer;
    }
    
    &-primary {
        color: $primaryColor;
    }
    &-secondary {
        color: $secondaryColor;
    }
    &-white {
        color: white;
    }
    &-disabled {
        color: $darkGreyColor;
    }
}
