@use './gimli.min.css';
@import './colors.scss';
@import './screen-sizes.scss';

.disabled {
    cursor: not-allowed !important;
    border-color: $lightGreyColor !important;
    fill: $lightGreyColor !important;
    color: $lightGreyColor !important;
}